@using boxAmOffice.Models
@model Cinema

@{
    ViewData["Title"] = "Update a cinema";
}

<h1> <up>Up</up>date <span>C</span>inema</h1>

<hr />
<div class="row text">
    <div class="col-md-8 offset-2">

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Logo" class="control-label"></label>
                        <input type="file" name="file" asp-for="Logo" class="form-control" accept=".png, .jpg , .jfif" />
                        <span asp-validation-for="Logo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div id="ss33">
                        <button type="submit" class="btn btn-outline-success mt-4">
                            <i class="bi bi-check"></i>
                            Updata
                        </button>
                        <a asp-action="Index" class="btn btn-outline-warning mt-4 float-right">
                            <i class="bi bi-arrow-counterclockwise"></i>
                            Back to Cinemas
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<style>
    h1 {
        text-shadow: 2px 2px;
        margin: 0 0 25px 50px;
    }

        h1 > span {
            color: red;
        }

        h1 > up {
            color: darkgreen;
        }
</style>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

    $(document).ready(function () {
        var output = document.getElementById('ProfilePicturePreview');
        output.src = $("#ProfilePictureURL").val();
    })

    $("#ProfilePictureURL").on("change", function () {
        var output = document.getElementById('ProfilePicturePreview');
        output.src = $(this).val();
    })
    </script>
}