@model int;

@if (Model > 0)
{
	<a class="mycart nav-link text-white" asp-controller="Orders" asp-action="ShoppingCart">
		<i class="bi bi-cart4"></i> @Model
	</a>
}

<style>
	.mycart {
		    padding-right: 20px;
			font-size: 17px;
			padding-right:20px !important;
			
	}

</style>