@model boxAmOffice.Models.Actor

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <i class="bi bi-trash-fill"></i>
    Delete
</h1>
<h3>Are you sure you want to delete this Actor ?</h3>
<div>

    <br>
    <br>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" />

        <a asp-action="Index" class="btn btn-outline-warning">
            <i class="bi bi-arrow-counterclockwise"></i>
            Back to Actors
        </a>
    </form>

</div>
